[Unit]
Description=Synchronize news
After=network-online.target
JobRunningTimeoutSec=300
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-inhibit --who="sync-news" --why="Prevent interrupting scheduled synchronization" %h/.dotfiles/bin/sync-news
