[Unit]
Description=Synchronize RFCs
JobRunningTimeoutSec=120
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
ExecStart=%h/.dotfiles/bin/sync-rfcs
