[Unit]
Description=Synchronize repositories
After=network-online.target
JobRunningTimeoutSec=300
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=%h/.dotfiles/bin/sync-repositories
