[Unit]
Description=Synchronize repositories
After=network-online.target
JobRunningTimeoutSec=300
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/systemd-inhibit --who="sync-repositories" --why="Prevent interrupting scheduled synchronization" %h/.dotfiles/bin/sync-repositories
