[Unit]
Description=Thunderbird Unread

[Service]
Type=simple
ExecStart=%h/.dotfiles/bin/thunderbird-unread-wrapper

[Install]
WantedBy=default.target
